extends layout

block title
  | SETTINGS

block append content
  .wrapper-md
    .panel.panel-default
      .table-responsive
        table#settings-list.table.dataTable.display(ui-options='{ paging: false }', role='grid')
          thead
            tr.row
              th.sorting.col-xs-3 IP Address
              th.sorting.col-xs-3 Alias
              th.sorting.col-xs-3 Hostname
              th.sorting.col-xs-3 Last Seen
              th.sorting.col-xs-3 Remove
          tbody
            if(hosts)
              each host in hosts
                tr.row
                  td
                    =host.ip
                  td
                    =host.alias
                  td
                    =host.hostname
                  td
                    = ((Date.now() - host.lastseen) / 1000).toFixed(0) + ' seconds'
                  td
                    button.btn.btn-default2.btn-s.btn-delete(data-ip=host.ip)
                      i.fa.fa-trash
    div
      form#form-add.input-group
        input.form-control(type='text' placeholder='127.0.0.1')
        span.input-group-btn
          button#btn-add.btn.btn-info(type='button')
            | Add

block append fleet
  if(hosts)
    each host in hosts
      li
        a(href='/chamber/' + host.hostname)
          i.icon-tag
          span= host.alias ? host.alias : host.hostname.split('-')[1]

block append alerts
  if(hosts)
    each host in hosts
      each alerts, types in host.alarms_active
        each alert in alerts
          li.list-group-item
            .clear
              i.fa.fa-exclamation-circle.m-r-xs
              span.alef= alert
            small.text-muted= host.alias ? host.alias : host.hostname.split('-')[1]
      
block append styles
      
block append scripts
  script(src='/js/settings.js')